apiVersion: v1
kind: Namespace
metadata:
  name: registry
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: docker-registry
  namespace: registry
  labels:
    app: registry
data:
  config.yml: |-
    version: 0.1
    log:
      fields:
        service: docker-registry
    storage:
      delete:
        enabled: true
      cache:
        blobdescriptor: inmemory
      filesystem:
        rootdirectory: /var/lib/registry
    http:
      addr: :5000
      headers:
        X-Content-Type-Options: [nosniff]
        Access-Control-Allow-Origin: ['*']
        Access-Control-Allow-Methods: ['HEAD', 'GET', 'OPTIONS', 'DELETE']
        Access-Control-Allow-Headers: ['Authorization', 'Accept']
        Access-Control-Max-Age: [1728000]
        Access-Control-Allow-Credentials: [true]
        Access-Control-Expose-Headers: ['Docker-Content-Digest']
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: data
  namespace: registry
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
  storageClassName: {{ smb_default_share }}
---
apiVersion: v1
kind: Service
metadata:
  name: docker-registry
  namespace: registry
  labels:
    app: registry
spec:
  type: ClusterIP
  ports:
    - name: registry
      port: 5000
      protocol: TCP
  selector:
      app: registry
---
apiVersion: v1
kind: Service
metadata:
  name: docker-registry-ui
  namespace: registry
  labels:
    app: registry-ui
spec:
  type: ClusterIP
  ports:
    - name: registry-ui
      port: 80
      protocol: TCP
  selector:
      app: registry-ui
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: docker-registry
  namespace: registry
  labels:
    app: registry
spec:
  replicas: 1
  selector:
    matchLabels:
      app: registry
  template:
    metadata:
      labels:
        app: registry
    spec:
      containers:
        - name: registry
          image: "docker.io/registry:{{ registry_version }}"
          imagePullPolicy: Always
          ports:
            - name: registry
              containerPort: 5000
              protocol: TCP
          volumeMounts:
            - name: data
              mountPath: /var/lib/registry
              readOnly: false
          livenessProbe:
            httpGet:
              path: /v2/
              port: registry
          readinessProbe:
            httpGet:
              path: /v2/
              port: registry
          resources:
            {}
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: data
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: docker-registry-ui
  namespace: registry
  labels:
    app: registry-ui
    release: docker-registry-ui
    app/version: "{{ registry_ui_version }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: registry-ui
      release: docker-registry-ui
  template:
    metadata:
      labels:
        app: registry-ui
        release: docker-registry-ui
    spec:
      containers:
        - name: registry-ui
          image: "docker.io/joxit/docker-registry-ui:{{ registry_ui_version }}"
          imagePullPolicy: Always
          env:
            - name: REGISTRY_TITLE
              value: "Docker registry UI"
            - name: DELETE_IMAGES
              value: "false"
            - name: SINGLE_REGISTRY
              value: "true"
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
            {}
---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: registry
  namespace: registry
  annotations:
    cert-manager.io/cluster-issuer: chain-ca-issuer
spec:
  gatewayClassName: cilium
  listeners:
    - name: https
      hostname: registry.{{ dns_config.domain }}
      port: 443
      protocol: HTTPS
      tls:
        certificateRefs:
          - name: registry-tls
            kind: Secret
      allowedRoutes:
        namespaces:
          from: All
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: registry-https
  namespace: registry
spec:
  parentRefs:
    - name: registry
      namespace: registry
      sectionName: https
  hostnames:
    - registry.{{ dns_config.domain }}
  rules:
    - backendRefs:
        - name: registry-ui-docker-registry-ui-user-interface
          port: 80
