apiVersion: v1
kind: Secret
metadata:
  name: smb-creds
  namespace: kube-system
data:
  password: {{ smb_config.password | b64encode }}
  username: {{ smb_config.username | b64encode }}
{% for share in smb_config.shares %}
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ share.name }}
  namespace: kube-system
provisioner: smb.csi.k8s.io
parameters:
  source: //{{ share.url }}
  csi.storage.k8s.io/provisioner-secret-name: smb-creds
  csi.storage.k8s.io/provisioner-secret-namespace: kube-system
  csi.storage.k8s.io/node-stage-secret-name: smb-creds
  csi.storage.k8s.io/node-stage-secret-namespace: kube-system
  onDelete: delete
  subDir: ${pvc.metadata.namespace}/${pvc.metadata.name}
reclaimPolicy: Retain
volumeBindingMode: Immediate
allowVolumeExpansion: true
mountOptions:
  - dir_mode=0777
  - file_mode=0777
  - uid=1000
  - gid=1000
{% endfor %}
